.description_title {
    color: #ffffff;
    transition: 0.25s;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    ;
}

.description_title:hover {
    color: #2f9612;
}

.description_text {
    margin-bottom: 20px;
}